<nav>
  <div>
    <a [routerLink]="['/habits']">Home</a>
    <a [routerLink]="['/habits']">Account</a>
  </div>
  <button class="btn btn-dark" [routerLink]="['new']">New Habit</button>
  <button (click)=logout() class="btn btn-info">Logout</button>
</nav>
<div class="container">
  <div class="habit">
    <h3>Need To Do</h3>
  </div>
  <div class="habit">
    <h3>Should Do</h3>
  </div>
  <div class="habit">
    <h3>Need To Stop</h3>
  </div>
  <div class="habit">
    <h3>Should Stop </h3>
  </div>
</div>